@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #b19cd9;
}

body {
  background-color: #fceed1;
  color: #4d004d;
  font-family: 'Lato', sans-serif;
}

header {
  font-size: 20px;
  font-weight: bold;
  color: #b19cd9;
}

code {
  font-family: Consolas,"courier new";
  color: #c8a2c8;
  background-color: #000;
  padding: 2px;
  font-size: 105%;
  border-radius: 5px;
}

ul {
  list-style-type: circle;
}

.main-section {
  padding-bottom: 10px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-right-width: thin;
  border-color: #340034;
  overflow-y: auto;
  overflow-x: auto;
}

#navbar-header {
  padding-top: 35px;
  text-align: center;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  width:65%;
}

#navbar li {
  color: #340034;
  list-style: none;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d004d;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  #navbar {
    width: 40%;
    max-height: 275px;
    padding-top: 40px;
  }
  
  #navbar a {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
  }
  
  #main-doc {
    position: relative;
  }
}